# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Collections criadas
collections/
build/

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variable files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover*
